{{#.}}
    <article class="tvFinderOffer" data-featured="{{@index}}" data-type="{{type}}"
             data-brand="{{brand}}"
             data-price="{{price}}"
             data-name="{{name}}"
             data-rating="{{rating}}" data-size="{{size}}">
        <header data-item_id="{{item_id}}">
            <h1><a href="{{url}}" title="{{name}}">
                <i data-img
                   data-src="{{image}}"
                   data-alt="{{name}}"></i>

                <div class="tvFinderProductName">{{name}}</div>
            </a></h1>
        </header>
        <ul class="tvFinderProductDetails">{{{description}}}</ul>
        <p class="tvFinderProductPrice"><span class="tvFinderUsDollars">{{dollars}}</span><span
                class="tvFinderUsCents">{{cents}}</span></p>

        <p class="tvFinderProductRating">
                    <span style="width: {{ratingWidth}}px"
                          title="{{ratingDisplay}} out of 5 Stars"></span>
        </p>
    </article>
{{/.}}