<div>
{{baseItem.genericContent.itemName}}
{{formattedRating rating}}
</p>
<a href="#" title="{{reviewsCount}}">{{reviewsCount}}</a> | <a href="#" title="Write a Review">Write a Review</a> | <a href="#" title="Ask a Question">Ask a Question</a></p>
{{formattedPrice baseItem.sellers.0.currentItemPrice}}
</div>
<a href="#" title="close">close</a>