<div class="productTopLeft">
    <div class="productTopTitle">{{baseItem.genericContent.itemName}}</div>
    <div>
        {{formattedRating rating}}
        <p><a href="#" title="{{reviewsCount}}">{{reviewsCount}}</a> | <a href="#" title="Write a Review">Write a
            Review</a>
            | <a href="#" title="Ask a Question">Ask a Question</a></p>

    </div>
    <p>{{formattedPrice baseItem.sellers.0.currentItemPrice}}</p>
</div>
<a class="productCloseBox" href="#" title="close">close</a>