{{#.}}
    <article class="tvFinderOffer" data-featured="{{@index}}" data-type="{{type}}"
             data-brand="{{brand}}" data-price="{{price}}" data-name="{{name}}"
             data-rating="{{rating}}" data-size="{{size}}" data-item_id="{{item_id}}">
        <header>
            <h1><a href="#" title="{{name}}">
                <i data-img
                   data-src="{{image}}"
                   data-alt="{{name}}"></i>

                <div class="tvFinderProductName">{{name}}</div>
            </a></h1>
        </header>
        <ul class="tvFinderProductDetails">{{{description}}}</ul>
        <p class="tvFinderProductPrice">{{formattedPrice price}}</p>
        {{formattedRating rating}}
    </article>
{{/.}}