<h1>Get More, For Less</h1>

<h2>Find the perfect Television with our new <a class="tvFinderLink" href="#"
                                                title="TVFinder">TVFinder&trade;</a>
</h2>

<div class="tvFinderOffers">
    <div class="tvFinderMinPrice"><span class="tvFinderUsDollars">{{minPrice.dollars}}</span><span
            class="tvFinderUsCents">{{minPrice.cents}}</span></div>
    <div class="tvFinderMinSize">{{minPrice.size}}&rdquo;</div>
    <div class="tvFinderMedianPrice"><span class="tvFinderUsDollars">{{medianPrice.dollars}}</span><span
            class="tvFinderUsCents">{{medianPrice.cents}}</span></div>
    <div class="tvFinderMedianSize">{{medianPrice.size}}&rdquo;</div>
    <div class="tvFinderMaxPrice"><span class="tvFinderUsDollars">{{maxPrice.dollars}}</span><span
            class="tvFinderUsCents">{{maxPrice.cents}}</span></div>
    <div class="tvFinderMaxSize">{{maxPrice.size}}&rdquo;</div>
</div>
